

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root{
    --base-color: #006c29;
    --button-color: #ff5600;
    --border: 1px solid #006c29;
    --text-color: #565a5c;
    --tab-active: #e89310;
}

/*=====Buttons=========*/
.button-green{
    background-color: var(--base-color);
    color: #fff;
    border: none;
    border-radius: 0;
    margin: 10px 0;
    width: 130px;
    max-width: 100%;
}

.button-transparent{
    border: 1px solid var(--base-color);
    color: var(--base-color);
    border-radius: 0;
    margin: 10px 0;
    background-color: transparent;
    width: 130px;
    max-width: 100%;
}

.button-orange{
    background-color: var(--button-color);
    color: #fff;
    border: none;
    border-radius: 0;
    width: 130px;
    max-width: 100%;
}


html{
    overflow-x: hidden;
    font-size: 100%;
}

body{
    overflow-x: hidden;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

@font-face {
    src: url("../fonts/Didot.ttc");
    font-family: "Didot", sans-serif;
}

/* ==========================================================================
   top header
   ========================================================================== */

header{
    border-bottom: 2px solid #e9ecef;
}

.top-bar{
    background-color: var(--base-color);
    height: 40px;
    line-height: 40px;
}

.top-bar ul li{
    display: inline-block;
    margin-right: 20px;
}

.top-bar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: .8em;
}

.top-bar ul li:nth-child(3){
    float: right;
}

.top-bar ul li:nth-child(4){
    float: right;
}


/* ==========================================================================
   main nav
   ========================================================================== */


.main-nav li{
    margin-right: 25px;
    display: inline-block;
    list-style: none;
}

.main-nav li a {
    text-transform: uppercase;
    font-size: .8em;
    color: #565a5c;
}

.main-nav li a:hover{
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .main-nav li {
        margin: 5px 0;
        display: inline-block;
        list-style: none;
    }

}

/* ==========================================================================
   Mega Menu
   ========================================================================== */
.no-scroll{
    overflow: hidden;
}

.help{
    cursor: pointer;
    font-style: normal;
    font-family: museo-sans,sans-serif;
    color: #004361;
    display: inline-block;
    font-size: 14px;
    padding: 7px 12px;
}

#navigation-mob {
    clear: both;
    position: fixed;
    padding-top:20px;
    top: 112px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(51, 51, 51, 0.66);
    text-align: center;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    z-index: 1033;
    -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,.08);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.08);
    overflow-y: hidden;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease
}

.navigation-mob-child{
    width: 80%;
    overflow-y: auto;
    color: #fff;
    position: fixed;
    Z-INDEX: 1999;
    top: 112px;
    height: 100%;
    right: -100%;
    background: url(../img/menu-bg.jpg) center no-repeat;
    background-size: cover;
    background-color: #000;
}


.navigation-mob-child .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    border-color: transparent;
    border-bottom: 1px solid #aaa;

    cursor: pointer;
}
.navigation-mob-child .panel-group .panel a{
    font-size: 12px;
    color: #7b7b7b;
    text-decoration: none;
    text-transform: uppercase;

}

.navigation-mob-child .panel-body {
    border-top-color: #FFF;
}

.navigation-mob-child .menu-search-container{
    margin-top: 20px;
    margin-left: 15px;
}

.navigation-mob-child .menu-search-container input{
    border-radius: 0;
    height: 50px;
    padding: 0 20px;
    margin-left: 0;
}

.navigation-mob-child .menu-search-container .icon-attach {
    position: absolute;
    top: 15px;
    right: 17px;
    font-size: 18px;
    color: #c3bdbd;
}

.navigation-mob-child ul {
    list-style: none;
}

.navigation-mob-child ul li {
    display: block;
}

.navigation-mob-child ul li {
    color: #4b88ed;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu-items-container{
    padding: 2px 30px;
    width: 100%;
}

.close{
    color: #fff;
    margin-right: 17px;
    font-size: 3em;
}

.panel-title .icon-down{
    float: right;
    margin-top: 10px;
}

/* ==========================================================================
   slider
   ========================================================================== */

.carousel-indicators,
.carousel-indicators  {
    display: none;
}

#slider .carousel-overlay-container{
    position: relative;
}

#slider .carousel-overlay-text{
    max-width: 1110px;
    margin: 0 auto;
    background-color: #000000b0;
    color: #fff;
    padding: 5em 2em 2em 2em;
    margin-top: -19.2em;
    text-align: center;
    box-sizing: border-box;
}

#slider .carousel-overlay-container h2{
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    font-family: "Didot", sans-serif;
    font-size: 2.5em;
}


#slider .carousel-overlay-form{
    background-color: var(--base-color);
    position: static;
    padding: 3em 2em;
    max-width: 1110px;
    margin: 0 auto;
    color: #fff;
}

.carousel-overlay-form input,
.carousel-overlay-form select{
    border-radius: 0;
}

.carousel-overlay-form input[type=submit]{
    background: var(--button-color);
    color: #fff;
    width: 100px;
    font-weight: bold;
}

.captcha-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    padding: 0 0 0 14px;
}

.captcha-text{
    flex: 1;
}

.captcha-text-container input{
    flex: 1;
    background: transparent;
    border-radius: 0;
    border-left: 1px solid #fff;
    border-right: none;
    border-bottom: none;
    border-top: none;
}



.carousel-caption {
    width: 1110px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-caption h2 {
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    font-family: "Didot", sans-serif;
    font-size: 2.5em;
}

.carousel-caption p {
    font-family: "Didot", sans-serif;
    font-size: 1.7em;
}


@media screen and (max-width: 768px) {
    #slider .carousel-overlay-text{
        margin: 0;
    }

}

#slider .title {
    margin: 1.5em 0;
}



.input-group-text{
    border-radius: 0;
}

.carousel-overlay-form .input-group-text svg{
    opacity: .3;
}

.carousel-overlay-form select {
    width: 256px;
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
    height: 40px;
}

.carousel-overlay-form .on-sticky-show select{
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
    height: 34px !important;
    width: 193px;
    font-size: .8em;
}

.carousel-overlay-form .on-sticky-show  input[type=submit]{
    background-color: var(--button-color);
    color: #fff;
    border-radius: 0;
    width: 130px;
    text-transform: uppercase;
}

.carousel-overlay-form .on-sticky-show  input{
    width: 140px;
    font-size: 0.8em;
}

.carousel-overlay-form .on-sticky-show .captcha-text-container input{
    width: 100px;
    border: 0;
    height: 36px;
}

.carousel-overlay-form .on-sticky-show .captcha-text-container .captcha-text{
    padding: 0 5px;
}


.sticky {
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    max-width: 100%!important;
    padding: 1.7em .5em 1em !important
}

.on-sticky-hide.hide{
    display: none;
}

.on-sticky-show{
    display: none;
}

.on-sticky-show.show{
    display: block;
}

.on-sticky-show .form-inline{
    justify-content: center;
}

/* ==========================================================================
   CTA
   ========================================================================== */

.cta{
    background-color: var(--base-color);
    padding: 1em;
    margin: 2em 0;
}

.cta button{
    background-color: var(--base-color);
    color: #fff;
    border-radius: 0;
    border: 1px solid #eee;
    margin: 1em;
    text-transform: uppercase;
    width: 379px;
    max-width: 100%;
    text-align: center;
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {
    .cta button {
        font-size: .8em;
        margin: .5em;
    }
}



/* ==========================================================================
   Recent top scorer
   ========================================================================== */

.top-scorer,
.our-achievers {
    text-align: center;
    padding: 0;
    margin-bottom: 6em;
}

.top-scorer{
    margin-bottom: 2em;
}

.top-scorer li,
.our-achievers li{
    display: inline-block;
}

.top-scorer li,
.our-achievers li{
    max-width: 100%;
    width: 367px;
    margin: 10px 0 auto;
    display: inline-block;
    text-decoration: none;
    transition: all .2s ease-in-out;
    border: 2px solid var(--base-color);

}

.top-scorer li{
    max-width: 100%;
    width: 367px;
    height: 440px;
    overflow: hidden;
    margin: 10px 0 auto;
    display: inline-block;
    text-decoration: none;
    transition: all .2s ease-in-out;
    border: 2px solid var(--base-color);
    position: relative;

}

.top-scorer li a,
.our-achievers li a {
    /*padding: 20px 0 0;*/
    text-decoration: none;
    /*color: #565a5c;*/
    display: block;
    position: relative;
}

.top-scorer li a{
    padding: 20px 0 0;
    text-decoration: none;
    color: #565a5c;
    display: block;
    position: relative;
    max-height: 512px;
    /*overflow: scroll;*/
}

.top-scorer li figure,
.our-achievers li figure {
    width: 100%;
    margin-bottom: 0;
    padding: 20px;
}

.our-achievers li figure img {
    width: 70% !important;
    margin:  0 auto;
}

.top-scorer li .student {
    text-align: left;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid var(--base-color);
}

.our-achievers li .student {
    color: var(--base-color);
}

.top-scorer li .student .student-score{
    color: var(--base-color);
}

.top-scorer li .student .student-score,
.our-achievers li .student .student-score {
    margin-bottom: 5px;
}

.top-scorer li .student:not(:last-child) {
    margin-bottom: 10px;
    border-bottom: 2px solid var(--base-color);
}


.top-scorer li button,
.our-achievers li button {
    border-radius: 0;
    width: 100%;
    background-color: var(--base-color);
    border: var(--border);
    padding: 15px 0;
    font-size: 1.6em;
}

.our-achievers li p{
    font-size: .8em;
    text-align: left;
}

.top-scorer li button{
    border-radius: 0;
    width: 100%;
    background-color: var(--base-color);
    margin-top: 20px;
    border: var(--border);
    padding: 15px 0;
    font-size: 1.6em;
    position: absolute;
    z-index: 2;
    bottom: -5px;
    left: 0;

}

.read-more-score{
    color: var(--button-color);
}

.read-more-score:hover{
    color: var(--button-color);
}

@media screen and (max-width: 768px) {
    #recent-top-scorer .title:before{
        content: "";
        height: 9em;
    }

}


/* ==========================================================================
   Testimonials
   ========================================================================== */


#testimonials .row .col{
    padding: 0;
}

#testimonials .testi-bg{
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 650px;
    padding: 20px;
}

#testimonials .testi-bg2 {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 650px;
    padding: 20px;
}


#testimonials .testi-bg{
    background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)),
    rgba(0,0,0,0.78) url("../img/client/client-bg.jpg") center no-repeat;
    background-size: cover;


}

#testimonials .testi-bg2{
    background: linear-gradient(#156b2a94, rgba(21, 107, 42, 0.49)), rgba(21, 107, 42, 0.41) url(../img/client/client-bg2.jpg) center no-repeat;
    background-size: cover;

}


#testimonials .testi-bg ul,
#testimonials .testi-bg2 ul {
    padding: 0;
    text-align: right;
}

#testimonials .testi-bg2 ul {
    text-align: left;
}

#testimonials .testi-bg ul li,
#testimonials .testi-bg2 ul li {
    display: inline-block;
    width: 220px;
    margin: 10px;
    background: #fff;
    padding: 0 10px;
}

#testimonials ul li img {
    width: 100%;
}

#testimonials .testi-bg .play-btn{
    width: 50px;
    height: 70px;
    line-height: 70px;
    background-color: var(--button-color);
    display: inline-block;
    text-align: center;
    margin-top: -15px;
}

#testimonials .testi-bg2 .play-btn{
    width: 50px;
    height: 70px;
    line-height: 70px;
    background-color: var(--button-color);
    display: inline-block;
    text-align: center;
    margin-top: -15px;
}

#testimonials .testi-bg .play-text {
    font-size: .9em;
    text-align: left;
    color: #565a5c;
    margin: 10px 0 0;
}

#testimonials .testi-bg2 .play-text {
    font-size: .9em;
    text-align: left;
    color: #565a5c;
    margin: 10px 0 0;
}

#testimonials .title:before{
    content: "";
    height: 10em;
}



@media screen and (max-width: 768px) {
    #testimonials .testi-bg,
    #testimonials .testi-bg2{
        height: 100%;
        padding: 3em;
    }

    #testimonials .title{
        text-align: left;
    }

    #testimonials .title:before {
        content: "";
        height: 11em;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #testimonials .title h2,
    #testimonials .title p {
        text-align:  center !important;
    }

    #testimonials .testi-bg2 ul{
        text-align: center;
    }

    #testimonials .testi-bg ul, #testimonials .testi-bg2 ul{
        text-align: center;
    }

}


/* ==========================================================================
   Get in touch
   ========================================================================== */

#get-in-touch{
    background-color: #6d6d6d;
    text-align: center;
    color: #fff;
    padding: 2em;
}

.request-callback{
    background-color: var(--button-color);
    color: #fff;
    margin-bottom: 2em;
    border-radius: 0;
    text-transform: uppercase;
    font-size: .8em;
}

#get-in-touch .title{
    margin: 2em;
}

@media screen and (max-width: 768px) {
    #get-in-touch .title:before {
        content: "";
        height: 9em;
    }

    #get-in-touch .title h2 {
        font-size: 1.3em;
        text-align: center;
        margin-bottom: 2em;
    }

    #get-in-touch{
        padding: 2em 0;
    }

}


/* ==========================================================================
   Footer
   ========================================================================== */

footer{
    background-color: #101010;
    color: #fff;
    font-size: .8em;
    padding: 5em 5em 2em 5em;
}


footer h4{
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 1.5em;
}

footer p{
    color: #7f7f7f;
}

footer a{
    color: #7f7f7f;

}

footer .navbar-light .navbar-nav .nav-link {
    color: #7f7f7f;
    padding: 0;
}

footer .navbar-light .navbar-nav .nav-link:hover {
    color: #565a5c;
}

footer .copyright > .navbar{
    padding: 0;
    font-size: .8em;
}

footer .copyright .nav-item:first-child{
    margin-right: 12em;
}

footer .copyright .nav-item{
    margin-right: 1em;
}


footer .copyright .footer-nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

footer .copyright .social-list{
    margin-bottom: 0;
}

footer .copyright .social-list li {
    display: inline-block;
    list-style: none;
    margin-right: 0;
    cursor: pointer;
}

footer .copyright .social-list li:first-child {
    margin-right: 0;
}

footer .copyright .social-list li a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #2b2a2a;
    padding: 0;
}


.footer .stander li{
    list-style: none;
}

.footer .stander li a{
    text-transform: uppercase;
    font-size: .8em;
}

footer .media-body{
    color: #565a5c;
}

.footer-hr{
    border-top: 5px solid rgb(250, 86, 2);
    margin: -5px auto;
    width: 1110px;
    height: 5px;
}

@media screen and (max-width: 768px) {
    footer{
        padding: 3em 1em 2em 2em;
    }

    footer .copyright .footer-nav{
        display: block;
        margin-bottom: 3em;
    }

    footer .social-list{
        padding: 1em 0;
    }

    footer .copyright .nav-item:first-child{
        margin: 0;
    }

    .footer-nav .navbar-nav{
        display: inline-block;

    }

    footer .copyright .nav-item{
        display: inline-block;
    }


}





/* ==========================================================================
   Title
   ========================================================================== */

.title{
    position: relative;
    margin: 3em 0;
    font-family: "Didot" ,sans-serif;
}

.title h2{
    text-transform: uppercase;
}

.title p{
    color: #bfbfbf;
    font-size: 1em;
}

.title:before{
    content: "";
    border-top: 3px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    width: 9em;
    position: absolute;
    height: 7em;
    padding: 20px 0;
    margin: 0 auto;
    top: -20px;
    left: 0;
    right: 0;
    bottom: 0;
}


@media screen and (max-width: 768px) {
    .title{
        text-align: center;
    }

    .title h2{
        font-size: 1.5em;
        text-align: center;
    }

    title:before {
        content: "";
        height: 6em;
    }

}




/* ==========================================================================
   Mega menu
   ========================================================================== */

.exo-menu{
    list-style: none;
    position: relative;
    z-index: 2;
    height: 80px;
    line-height: 80px;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
}

.exo-menu > li {
    display: inline-block;
    margin-right: 1em;
}

.exo-menu > li > a{
    font-size: .8em;
    color: #0c0c0c;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear;
    border: 2px solid transparent;
}

.exo-menu > li > a.active,
.exo-menu > li > a:hover,
li.drop-down ul > li > a:hover{
    border-top: 2px solid var(--button-color);
    color: var(--button-color);
}


li.drop-down,
.flyout-right,
.flyout-left{
    position:relative;
}

li.drop-down:before {
    content: "\f103";
    color: #fff;
    font-family: FontAwesome;
    font-style: normal;
    display: inline;
    position: absolute;
    right: 6px;
    top: 20px;
    font-size: 14px;
}

li.drop-down>ul{
    left: 0px;
    min-width: 230px;

}

.drop-down-ul{display:none;}
.flyout-right>ul,
.flyout-left>ul{
    top: 0;
    min-width: 230px;
    display: none;
    border-left: 1px solid #365670;
}

li.drop-down>ul>li>a,
.flyout-right ul>li>a ,
.flyout-left ul>li>a {
    color: #fff;
    display: block;
    padding: 20px 22px;
    text-decoration: none;
    background-color: #365670;
    border-bottom: 1px dotted #547787;
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear;
}


.flyout-right ul>li>a ,
.flyout-left ul>li>a {
    border-bottom: 1px dotted #B8C7BC;
}


/*Flyout Mega*/
.flyout-mega-wrap {
    top: 0;
    right: 0;
    left: 100%;
    width: 100%;
    display:none;
    height: 100%;
    padding: 15px;
    min-width: 742px;

}

h4.row.mega-title {
    color:#eee;
    margin-top: 0px;
    font-size: 14px;
    padding-left: 15px;
    padding-bottom: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}

.flyout-mega ul > li > a {
    font-size: 90%;
    line-height: 25px;
    color: #fff;
    font-family: inherit;
}

.flyout-mega ul > li > a:hover,
.flyout-mega ul > li > a:active,
.flyout-mega ul > li > a:focus{
    text-decoration: none;
    background-color: transparent !important;
    color: #ccc !important
}
/*mega menu*/

.mega-menu {
    left: 0;
    right: 0;
    padding: 15px;
    display:none;
    padding-top: 0;
    min-height: 100%;
    top: 80px;

}

h4.row.mega-title {
    color: #565a5c;
    margin-top: 0;
    font-size: 14px;
    padding-left: 15px;
    padding-bottom: 13px;
    text-transform: uppercase;
    border-bottom: none;
    padding-top: 15px;
    font-weight: bold;
}

.mega-menu ul li a {
    line-height: 25px;
    font-size: 90%;
    display: block;
}

ul.stander li a {
    padding: 3px 0;
    font-size: .9em;
}

ul.description li {
    padding-bottom: 12px;
    line-height: 8px;
}

ul.description li span {
    color: #ccc;
    font-size: 85%;
}

a.view-more{
    border-radius: 1px;
    margin-top:15px;
    background-color: #009FE1;
    padding: 2px 10px !important;
    line-height: 21px !important;
    display: inline-block !important;
}

a.view-more:hover{
    color:#fff;
    background:#0DADEF;
}

ul.icon-des li a i {
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: #009FE1;
    line-height: 35px !important;
}

ul.icon-des li {
    width: 100%;
    display: table;
    margin-bottom: 11px;
}


/*common*/
.flyout-right ul>li>a ,
.flyout-left ul>li>a,
.flyout-mega-wrap,
.mega-menu{
    /*background: url("../img/menu-bg.jpg") center no-repeat;*/
    background-size: cover;
    background-color: #fff;
    height: 267px;
    opacity: .9;

}

/*hover*/
.Blog:hover,
.Images:hover,
.mega-menu:hover,
.drop-down-ul:hover,
li.flyout-left>ul:hover,
li.flyout-right>ul:hover,
.flyout-mega-wrap:hover,
li.flyout-left a:hover +ul,
li.flyout-right a:hover +ul,
.blog-drop-down >a:hover+.Blog,
li.drop-down>a:hover +.drop-down-ul,
.images-drop-down>a:hover +.Images,
.mega-drop-down a:hover+.mega-menu,
li.flyout-mega>a:hover +.flyout-mega-wrap{
    display:block;
}

/*responsive*/
@media (min-width:767px){
    .exo-menu > li > a{
        display:block;
    }
    .mega-menu, .flyout-mega-wrap, .Images, .Blog,.flyout-right>ul,
    .flyout-left>ul, li.drop-down>ul{
        position:absolute;
    }
    .flyout-right>ul{
        left: 100%;
    }
    .flyout-left>ul{
        right: 100%;
    }
}
@media (max-width:767px){

    .exo-menu {
        min-height: 58px;
        background-color: #23364B;
        width: 100%;
    }

    .exo-menu > li > a{
        width:100% ;
        display:none ;

    }
    .exo-menu > li{
        width:100%;
    }
    .display.exo-menu > li > a{
        display:block ;
        padding: 20px 22px;
    }

    .mega-menu, .Images, .Blog,.flyout-right>ul,
    .flyout-left>ul, li.drop-down>ul{
        position:relative;
    }

}
a.toggle-menu{
    position: absolute;
    right: 0;
    padding: 20px;
    font-size: 27px;
    background-color: #ccc;
    color: #23364B;
    top: 0;
}

.menu-items li{
    display: inline-block;
    color: #fff;
    width: 19%;
}

.stander{
    padding: 0;
}

.stander li{
    line-height: 30px;
    text-align: left;
    list-style: none;
}

.stander li a{
    color: #565a5c;
    cursor: pointer;
}

.menu-search-container{
    width: 300px;
    float: right;
    position: relative;
    color: #c3bdbd;

}

.menu-search-container .icon-attach{
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 18px;
    color: #c3bdbd;
}


.menu-search-container input{
    border-radius: 0;
    height: 65px;
    padding: 0 20px;
    margin-left: 18px;
}


.exo-menu li:nth-child(7){
    margin: 0;
}

.exo-menu li:nth-child(8){
    width: 4.5em;
    margin: 0;
    text-align: center;
}


@media screen and (max-width: 769px) {
    .menu-search-container{
        float: none;
    }

}




/* ==========================================================================
   Modal Form
   ========================================================================== */


#request-a-callback .modal-body{
    padding: 0;
}

#request-a-callback .modal-body form{
    width: 100%;
    padding: 2em;
    margin: 0 auto;
}

#request-a-callback .modal-body form input {
    height: 60px;
}

#request-a-callback .captcha-text-container{
    margin-bottom: 15px;
}

#request-a-callback .modal-body form input[type=submit] {
    background-color: var(--base-color);
    color: #fff;
}

#request-a-callback .captcha-text-container{
    border: 1px solid #ced4db;
}

#request-a-callback .captcha-text-container input {
    border-left: 1px solid #ced4db;
}

.devider:before{
    content: "";
    border-right: 1px solid #656464;
    position: absolute;
    left: 0;
    top: 75px;
    bottom: 0;
    width: 100%;
    height: 63%;
}



/*==============================================================
Sign up success Form
==================================================================*/

.signup-form{
    border: 1px solid #e9ecef;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    padding: 15px 15px 0 15px;
    margin: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.signup-form h3{
    background-color: var(--base-color);
    margin: -15px -15px 15px;
    padding: 10px;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}

.signup-form input,
.signup-form select {
    border-radius: 0;
    -webkit-appearance: none;
    border: 1px solid #e9ecef;
}

.signup-form .captcha-text-container{
    border: 1px solid #e9ecef;
}

.signup-form input[type=submit]{
    width: 100%;
    background-color: var(--base-color);
    color: #fff;
    text-transform: uppercase;
}


/*==============================================================
Sign up success Form Ends here
==================================================================*/


/*==============================================================
Test pre test-prep
==================================================================*/

.breadcrumb{
    background-color: transparent;
    padding-left: 0;
    font-size: .8em;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    content: ">";
}

.breadcrumb .breadcrumb-item a{
    color: var(--text-color);
}

.breadcrumb .breadcrumb-item a:hover{
    text-decoration: none;
}


.test-prep{
    margin-top: 30px;
}

#test-prep-tab{
    display: flex;
    justify-content: flex-end;
    border-bottom: none;
}

@media screen and (max-width: 600px) {
    #test-prep-tab {
        display: -webkit-box;
        display: -moz-box;
        justify-content: flex-start;
        border-bottom: none;
        white-space: nowrap;
        overflow: scroll;
    }
}


#test-prep-tab li {
    line-height: 1.5em;
}

#test-prep-tab li .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border: 1px solid transparent;
}

#test-prep-tab li .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: none;
    border-bottom: 2px solid var(--tab-active);
    color: #fff;
    font-weight: bold;
    background-color: var(--tab-active);
    border-radius: 0;
}


#test-prep-tabContent h4{
    font-size: 1.3em;
    margin: .9em 0;
    color: var(--base-color);
}

#test-prep-tabContent .prep-img {
    margin: 30px 0;
}

#test-prep-tabContent p,
#test-prep-tabContent ol li,
#test-prep-tabContent ul li{
    color: #080808;
    font-size: .9em;
    padding-left: 0;
}


#test-prep-tab .top-scorer li, .our-achievers li.custom-width{
    width: 32%;
}

/*#test-prep-tabContent{*/
/*margin-bottom: 7em;*/
/*}*/


.FAQ{
    margin-bottom: 2em;
}

.FAQ ol {
    padding-left: 15px;
    margin-bottom: 20px;
}


.FAQ h3 {
    margin-bottom: 20px;
    font-size: 1.4em;
    color: var(--base-color);
}


.FAQ ol li{
    color: #999999;
}

.custom-hr{
    border-color: #dcd2d2;
    border-width: 2px;
}


#test-prep-tab .nav-link:not(.active){
    color: #565a5c;
}

.test-prep-title{
    margin-bottom: 0;
    line-height: 1.5em;
    color: var(--base-color);
}

/*==============================================================
Course Pricing
==================================================================*/

.course-pricing{
    padding-left: 0;
    text-align: center;
    margin: 3em 0;
}

.course-pricing .course-pricing-block{
    display: inline-flex;
    list-style: none;
    border: 1px solid var(--base-color);
    margin: 10px;
    width: 30%;
    height: 330px;
    max-height: 100%;
    position: relative;
    overflow: hidden;
}

.course-pricing .course-pricing-block figure {
    width: 100%;
}


@media screen and (max-width: 768px) {
    .course-pricing .course-pricing-block{
        display: block;
        width: 100%;
    }
}

.course-pricing .course-title{
    padding: 10px;
    background: var(--base-color);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.course-pricing .course-points{
    padding: 10px 30px;
    text-align: left;
}

.course-pricing .button-wrap{
    position: absolute;
    bottom: 15px;
    margin: 0 auto;
    width: 100%;
}

.course-pricing .button-wrap button{
    background-color: #fff;
    border: 1px solid var(--base-color);
    text-transform: uppercase;
    color: var(--base-color);
    border-radius: 0;
    width: 200px;
    max-width: 100%;
}

.test-prep .request-callback{
    background-color: var(--base-color);
}

.marquee {
    width: 100%;
    overflow: hidden;
}

.js-marquee{
    margin-bottom: 0 !important;
}


/*==============================================================
Admission Counselling page
==================================================================*/

.nesting-tabs {
    justify-content: center;
    margin-bottom: 2em;
}

.nesting-tabs .nav-item{
    width: 31%;
    border-radius: 0;
    border: 1px solid var(--base-color);
    text-align: center;
    margin-right: 1em;
    box-sizing: border-box;
}


@media screen and (max-width: 768px) {
    .nesting-tabs .nav-item {
        width: 100%;
        border-radius: 0;
        border: 1px solid var(--base-color);
        text-align: center;
        margin: .5em 0;
        box-sizing: border-box;
    }
}

.nesting-tabs .nav-item a{
    color: var(--base-color);;
    text-transform: uppercase;
}

.nesting-tabs .nav-link.active,
.nav-pills .show>.nav-link{
    background-color: var(--base-color);
    border-radius: 0;
}


/*=================================================================
Resource Center
==================================================================*/

.resource-center .article{
    border: 1px solid #eee;
    margin: 2em 0;
    padding: 1em 0;
}

.resource-center .article .article-img img{
    margin: 10px  0;
}

.resource-center .article .article-title{
    margin: 0 !important;
    font-size: 1.2em !important;
    font-weight: 600!important;
}

.resource-center .article .article-score {
    color: var(--base-color) !important;
    font-weight: 600!important;
    font-size: 1em!important;
}



.resource-center .article .article-body p{
    height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}

.resource-center .article .article-body .article-btn{
    background-color: #fff;
    border: 1px solid var(--base-color);
    color: var(--base-color);
    border-radius: 0;
    font-weight: 600;
}


.resource-center .course-pricing{
    margin: 0;
}

.resource-center .course-pricing .course-pricing-block figure{
    width: 100%;
}

.resource-center .course-pricing .course-pricing-block {
    height: 240px;
}




.custom-pagination .pagination li  a {
    color: #565a5c;
    margin-right: 1px;
    border-radius: 0;
}

.custom-pagination .pagination li:not(:first-child):not(:last-child) a {
    border: none;
}

.custom-pagination .page-item:first-child .page-link{
    border-radius: 0;
}

.custom-pagination .page-item:last-child .page-link{
    border-radius: 0;
}


.resource-center table thead{
    background: var(--base-color);
    color: #fff;
    font-size: .7em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */


.margin0{
    margin: 0;
}

.black-color{
    color: #000 !important;
    visibility: hidden !important;
}

.margin-top0{
    margin-top: 0;
}

hr{
    border-top: 1px solid rgba(109, 107, 107, 0.92);
}


.left:before{
    content: "";
    left: 0;
    margin-left: 0;
    right: auto;
}

.right:before{
    content: "";
    right: 0;
    margin-left: 0;
    left: auto;
}

.border-right{
    border-right: 1px solid #656464 !important;
}

@media screen and (max-width: 768px) {
    .border-right{
        border-right: none !important;
    }

    .devider:before{
        height: 0;

    }
}




@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
}


.transparent-button{
    background-color: #fff;
    border-radius: 0;
    border: 1px solid var(--base-color);
    color: var(--base-color);
    font-weight: 600;
}

.filled-btn{
    background-color: var(--base-color);;
    border-radius: 0;
    border: none;
    color: #fff
}

.justify-center{
    justify-content: center;
}

.margin-top2{
    margin-top: 2em !important;
}

.border-right{
    border-right: 1px solid #eee !important;
}

.p-0{
    padding: 0!important;
}

.visible-hide{
    visibility: hidden !important;
}

.border-right{
    border-right: 1px solid #eee !important;
}


/* ==========================================================================
   Helper classes ends here
   ========================================================================== */



/* ==========================================================================
   test-prep-bg Background Image
   ========================================================================== */

.test-prep-bg{
    /* background: url(../img/test-prep/bg.png) center no-repeat; */
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.test-prep-bg .overlay-text{
    /*background: #000000b0;*/
    color: #fff;
    width: 80%;
    padding: 2em;
    font-size: 1.4em;
}

@media screen and (max-width: 768px) {
    .test-prep-bg .overlay-text{
        width: 100%;
    }

}


/* ==========================================================================
   Resource Center Photos
   ========================================================================== */

.resource-center-photos .gallery-photo a{
    text-decoration: none;
    color: #565a5c;
    display: block;
    margin: 10px 0;
}

.resource-center-photos .gallery-photo figcaption{
    margin: 10px 0;
}

/* ==========================================================================
   Resource Center Training result
   ========================================================================== */

.resource-center-training-result .article{
    padding: 1em;
    border: 1px solid #eee;
    text-align: center;
    margin: 10px 0;
}

.resource-center-training-result .article .article-title{
    font-size: .9em !important;
    color: #565a5c !important;
}

.resource-center-training-result .article .article-score{
    font-size: .9em !important;
}

/* ==========================================================================
   Media Coverage
   ========================================================================== */

.media-coverage figure a{
    text-decoration: none;
    color: #565a5c;
}

/* ==========================================================================
   Resource Center Video
   ========================================================================== */

.resource-center-videos figure a{
    text-decoration: none;
    color: #565a5c;
}

/* ==========================================================================
   GMAT New Design FIXES
   ========================================================================== */

.gmat .course-pricing{
    text-align: left;
    margin-top: .9em;
}

.gmat .course-pricing .course-pricing-block {
    margin: 5px;
    width: 23%;
}

@media screen and (max-width: 768px){
    .gmat .course-pricing .course-pricing-block {
        margin: 5px;
        width: 100%;
    }
}

.gmat .course-pricing .course-title{
    font-size: 17px;
    text-align: center;
    background-color: var(--base-color);
}

.gmat .course-pricing .course-pricing-block figure h5{
    text-align: center;
    color: #0c0c0c;
}

.gmat .course-pricing .course-points {
    padding: 10px 20px;
}

@media screen and (max-width: 600px) {
    .gmat .course-pricing .course-points {
        padding: 10px 70px;
        text-align: center;
    }
}

.gmat .course-pricing .button-wrap{
    position: static;
    text-align: center;
}

.gmat .course-pricing .course-pricing-block{
    height: 100%;
    border: 1px solid var(--base-color);
    margin-left: 0;
}

.gmat .course-pricing .button-wrap button{
    position: absolute;
    right: 8px;
    bottom: 10px;
    width: 150px;
    background-color: var(--button-color);
    color: #fff;
    font-size: .9em;
    border: 1px solid var(--button-color);
}

.gmat .course-pricing .course-pricing-block figure{
    margin-bottom: 10px;
    height: 249px;
}


/* ==========================================================================
   Contact us
   ========================================================================== */
.contact-us h4{
    font-size: 1.3em;
}

.address-container{
    margin: 2em 0;
    border: 2px solid #eee;
}


.address-container h5{
    font-size: 1.1em;
}

.address p{
    margin: 0;
    font-size: .9em;
}

#city-address{
    text-align: center;
    margin: 20px 0;
}

#city-address li{
    width: 140px;
    font-size: .8em;
}

#city-address li .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: var(--button-color);
    color: #fff !important;
    border: none;
}

#city-address li .nav-tabs .nav-item.show .nav-link, .nav-tabs {
    border: none;
}

#city-addressContent p{
    font-size: .8em;
    margin: 0;
}

#city-address li .nav-link{
    color: #565a5c;
}

.address-container .row:nth-of-type(1){
    padding: 0 1em;
}



/* ==========================================================================
   Back to Top
   ========================================================================== */

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 2;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: var(--button-color) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-top--fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .8;
}

.cd-top:hover {
    background-color: var(--button-color);
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .cd-top {
        bottom: 55px;
    }
}



/* ==========================================================================
  Single page view slider
   ========================================================================== */

#photo-carousel .owl-next, #photo-carousel .owl-prev{
    width: 42px;
    height: 50px;
    border-radius: 0;

    color: green;

    border: 2px solid green;

    position: absolute;
    top: 45%;

}
#photo-carousel .item {
    border-bottom: 2px solid #f3f3f2;
    padding-bottom: 40px;
}
#photo-carousel .item a{
    color:#fff;
}
#photo-carousel .owl-prev{
    left: 0;
}
#photo-carousel .owl-next{
    right: 0;
}

#photo-carousel .img-contained {
    position: relative;
    height: 400px;
    width: 350px;
    margin: 6px auto;
    padding-top: 15px;
    background: #f5f5f5;
}

#photo-carousel .img-contained-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: right;
    height: 400px;
    font-size: 30px;
    padding-right: 14px;
    color: #fff;
    /* transform: rotate(65deg); */
    width: 350px;
    background: #0000003b;
}
.img-contained-overlay .overlay-text {
    background: linear-gradient(rgba(112, 112, 112, 0.75),rgb(15, 15, 15));
    color: #fff;
    position: absolute;
    text-align: center;
    bottom: 0px;
    font-size: 16px;
    padding: 16px 22px;
}


/* ==========================================================================
  City page
   ========================================================================== */
.city-page{
    overflow: hidden;
}

.city-page .nesting-tabs{
    justify-content: flex-start;
}

.city-page .nesting-tabs .nav-item{
    width: 45%;
}

.city-page .nesting-tabs .nav-item .nav-link{
    height: 65px !important;
    line-height: 65px;
    padding: 0;
}


.city-page table{
    font-size: .9em;

}

.custom-table-head{
    background-color: var(--base-color);
    color: #fff;
    padding: 5px;
}


.custom-table-head select{
    background-color: transparent;
    border: none;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(https://png.icons8.com/material/30/cccccc/sort-down.png);
}

.custom-table-head select:focus,
.custom-table-head select:hover{
    background-color: transparent;
    color: #fff;
}

.city-phone{
    color: #fff !important;
    margin: 8px;
}

.city-phone a{
    color: #fff !important;
}


.city-page .course-pricing-block{
    height: auto;
    position: static;
    text-align: center;
}

.city-page .course-pricing-block figure {
    margin: 0;
}

.city-page .course-pricing-block .course-points{
    text-align: center;
    padding: 10px;
}

.city-page .course-pricing-block .course-points p {
    margin: 0;
    color: #1f1f1f!important;
}

.city-page .course-pricing-block .course-points p > b {
    margin: 5px 0;
    display: block;
    color: #1f1f1f;
}

.city-page .course-pricing-block .course-points p a {
    text-decoration: underline;
}


.student-testimonial{
    width: 100%;
    border: 1px solid #eee;
    padding: 2em;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.student-testimonial:before{
    content: "";
    background: url(../img/quote-right.svg) center no-repeat;
    opacity: .1;
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 189px;
    bottom: -60px;
    right: -70px;
}




.student-card .student-name{
    color: #1f1f1f;
    font-weight: bold;
}

.student-card .student-score{
    color: var(--base-color);
    font-weight: bold;
}


/*Image Flip*/

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    border: 1px solid #ccc;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 341px;
    max-width: 100%;
    height: 210px;
    text-align: center;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background: #f8f8f8;
}

.front .name {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
}

.back-logo {
    position: absolute;
    top: 40px;
    left: 90px;
    width: 160px;
    height: 117px;
}

.back-title {
    font-weight: bold;
    color: #00304a;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em #acd7e5;
}

.back p {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 20px;
    line-height: 2em;
}




/* ==========================================================================
  Float form for mobile view
   ========================================================================== */

.open-form{
    position: fixed;
    bottom: 0;
    right: 0;
    color: #fff;
    background: var(--button-color);
    margin: 23px 0 0 20px;
    padding: 10px 20px;
    z-index: 999;
    width: 100%;
    border: none;
}
.dialog,
.dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dialog {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    pointer-events: none;
    z-index: 99;
}

.dialog__overlay {
    position: absolute;
    z-index: 1;
    background: rgba(55, 58, 71, 0.9);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
    opacity: 1;
    pointer-events: auto;
}

.dialog__content {
    width: 50%;
    max-width: 560px;
    min-width: 290px;
    background: #fff;
    padding: 4em;
    text-align: center;
    position: relative;
    z-index: 5;
    opacity: 0;
}

.dialog--open .dialog__content {
    pointer-events: auto;
}

/* Content */
.dialog h2 {
    margin: 0;
    font-weight: 400;
    font-size: 2em;
    padding: 0 0 2em;
    margin: 0;
}



.dialog--open .dialog__overlay {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.dialog--close .dialog__overlay {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.dialog__content {
    padding: 0;
    background: transparent;
}

.dialog.dialog--open .dialog__content {
    opacity: 1;
}

.morph-shape {
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    z-index: -1;
}

.morph-shape svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 1680;
}

.dialog--open .morph-shape svg rect {
    -webkit-animation: anim-dash 0.6s forwards;
    animation: anim-dash 0.6s forwards;
}

.dialog-inner {
    opacity: 0;
    background: #fff;
}

.dialog--open .dialog-inner {
    padding: 1em;
    opacity: 1;
    -webkit-transition: opacity 0.85s 0.35s;
    transition: opacity 0.85s 0.35s;
}

.dialog.dialog--open h2 {
    -webkit-animation: anim-elem-1 0.7s ease-out both;
    animation: anim-elem-1 0.7s ease-out both;
}

.dialog.dialog--open button {
    -webkit-animation: anim-elem-2 0.7s ease-out both;
    animation: anim-elem-2 0.7s ease-out both;
}

@keyframes anim-dash {
    0% {
        stroke-dashoffset: 1680;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes anim-dash {
    0% {
        stroke-dashoffset: 1680;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

/* Inner elements animations */

@-webkit-keyframes anim-elem-1 {
    0% { opacity: 0; -webkit-transform: translate3d(-150px, 0, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes anim-elem-1 {
    0% { opacity: 0; -webkit-transform: translate3d(-150px, 0, 0); transform: translate3d(-150px, 0, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes anim-elem-2 {
    0% { opacity: 0; -webkit-transform: translate3d(150px, 0, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes anim-elem-2 {
    0% { opacity: 0; -webkit-transform: translate3d(150px, 0, 0); transform: translate3d(150px, 0, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

.dialog-inner input[type="submit"]{
    background: var(--base-color);
    color: #fff;
    border-radius: 0;
    width: 100%;
}

.dialog-inner .captcha-text-container{
    border: 1px solid var(--base-color);
}

.dialog-inner .captcha-text-container input{
    border-left: 1px solid var(--base-color);
    width: 150px;

}

.owl-carousel{
    z-index: 0 !important;
}

.top-scorer li button{
    z-index: 0;
}


/* ==========================================================================
  Thank you page
   ========================================================================== */
.thank-you{
    background: linear-gradient(#00000085, #565a5c6b), url(../img/slider/slider2.jpg) center no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thank-you .thank-you-text{
    color: #fff;
    background: #00000094;
    padding: 20px;
    text-align: center;
}

.thank-you .thank-you-text a{
    display: inline-block;
    background-color: var(--base-color);
    color: #fff;
    border-radius: 0;
}


/* ==========================================================================
  Fixes
   ========================================================================== */
#captchaInput {
    width: 2.5em;
    margin-left: 0.8em;
    color: #000;
    text-align: center;
    background-color: #fff;
    height: 36px;
}


/* ==========================================================================
  FAQ
   ========================================================================== */
.FAQ .card{
    border: none;
}

.FAQ .card-header{
    padding: 0;
}

.FAQ .btn-link{
    display: block;
    width: 100%;
    text-align: left;
    text-decoration: none;
    margin-bottom: 0;
    line-height: 30px;
    background-color: #fff;
    border: none;
    color: var(--base-color);
    border-radius: 0;
}

.FAQ .btn-link:after {
    content: "-";
    position: relative;
    float: right;
    margin-left: 5px;
    font-size: 30px;
    font-weight: 600;
    color: #000;
    -webkit-animation: minus 0.8s;
    animation: minus 0.8s;
}
.FAQ .btn-link.collapsed:after {
    content: "+";
    -webkit-animation: plus 0.8s;
    animation: plus 0.8s;
}

/*==========================================================================
  Career page
============================================================================= */

.career-card {
    border: 1px solid #c7c5c5;
    padding: 20px 0;
    margin: 10px 0;
}

.career-card p{
    margin: 0;
}

/*==========================================================================
  Admission tab
============================================================================= */
.admission-service-tab li a{
    font-size: .9em;
}

.admission-service .course-pricing .course-pricing-block{
    height: 100%;
    position: static;
}

.admission-service .course-pricing .button-wrap {
    position: static;
}

div.dataTables_wrapper {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 2em;

}

.resource-center{
    overflow: scroll;
}

#div2 {
    display:none;
}
#div3 {
    display:none;
}
#div4 {
    display:none;
}
#div5 {
    display:none;
}
#div6 {
    display:none;
}
#div7 {
    display:none;
}
#div8 {
    display:none;
}
#div9 {
    display:none;
}
#div10 {
    display:none;
}
#div11 {
    display:none;
}
#div12 {
    display:none;
}
#div13 {
    display:none;
}
#div14 {
    display:none;
}
#div15 {
    display:none;
}
#div16 {
    display:none;
}
#div17 {
    display:none;
}
#div18 {
    display:none;
}
#div19 {
    display:none;
}
#div20 {
    display:none;
}
#div21 {
    display:none;
}
#div22 {
    display:none;
}
#div23 {
    display:none;
}


.webinars{
    margin-bottom: 3em;
}

.webinars .article{
    margin: 20px 0;
    border: 1px solid #565a5c;
}

.column-count{
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap:   0px;
    -moz-column-count:    2;
    -moz-column-gap:      0px;
    column-count:         2;
    column-gap:           0px;
    padding: 0;
    margin-top: 20px;
}

.column-count li{
    list-style: none;
}

.column-count img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.actives {
    background-color: #007123;
    color: white;
}
.actives:hover {
    background-color: #007123;
    color: white;
}

.figure_program{
    height:371px !important;
}
.h5_program {
    font-size: 17px;
}


.announcement{
    background-color: var(--base-color);
    padding: 1em;
    text-align: center;
    color: #fff;
    font-weight: bold;

}

.padding-4{
    padding: 1em 4em;
}

.announcement button{
    background-color: var(--button-color);
    color: #fff;
    width: auto;
    margin-top: 10px;
}

.gmat-page .article {
    padding: 1em;
    border: 1px solid #eee;
    text-align: center;
    margin: 10px 0;
    background-color: #fff;
}

.gmat-page .article .article-title {
    font-size: .9em !important;
    color: #565a5c !important;
}

.gmat-page .article-score{
    font-size: .9em !important;
}

.gmat-page h4 {
    font-size: .9em;
    margin: .9em 0;
    color: var(--base-color);
}

.announcement #photo-carousel .owl-prev{
    left: -50px;
}

.announcement #photo-carousel .owl-next {
    right: -50px;
}

.announcement #photo-carousel .owl-next, #photo-carousel .owl-prev{
    width: 42px;
    height: 50px;
    border-radius: 0;
    color: white;
    border: 2px solid white;
    position: absolute;
    top: 30%;
}

.announcement #photo-carousel .owl-next, #photo-carousel .owl-prev {
    width: 42px;
    height: 50px;
    border-radius: 0;
    color: white;
    border: 2px solid white;
    position: absolute;
    top: 30%;
}


.announcement #photo-carousel .owl-item .item .col-md-3{
    padding: 5px;

}

.announcement #photo-carousel .item{
    border-bottom: none;
}